.frontColorBar {
    background-color: #00ABE1;
    width: 100%;
    height: 80px;
}

.frontColorBarTitle {
    color: white;
    font-size: 50px;
    padding-top: 10px;
    padding-left: 50px;
}

.menuBox {
    margin:0px;
    width:300px;
    height:1090px;
    background-color:#6081B3;
}

.drop-down-menu {
    font-size:30px;
    color:white;
    margin:0px;
    padding-top:30px;
}

body {
}
