.contentBox {
    position: absolute;
    top: 90px;
    left: 320px;
}

/*職責新增*/
.addDutyBlock {  
    width:800px;   
    text-align: left;
    font-size: 40px;
    color: grey;
}

.dutyBlockTitle {
    font-size: 45px;
    color: #96C0CE;
}

.addDutyName {    
    font-size: 30px;
    color: #CEAB93;
    width: 435px;
    height: 50px;
    outline: solid 1px grey;
}

.inputBlock {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.chkAddDuty {
    width: 39px;
    height: 39px;
    vertical-align: middle;
}

.chkAddDutyBlock {
    display: inline-flex;
    margin-top: 40px;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.btnAddDuty {
    margin-top: 40px;
    font-size: 40px;
    color: gray;
    width: 200px;
    height: 60px;    
}

.message {
    margin-top: 20px;
    color: red;
    text-align:left;
}
/*職責查詢*/
.searchDutyBlock {
    width: 1000px;
    text-align: left;
    font-size: 40px;
    color: #466CA6;   
}

.inputSearchDutyBlock {
    display: flex;
    margin-top: 40px;
    font-size: 20px;
    align-items: center;
    justify-content: flex-start;
}

.btnSearchDuty {
    font-size: 20px;
    color: #466CA6;
    width: 80px;
    height: 30px;
    text-align: center;
    border: solid 1px #466CA6;
    margin-left: 10px;
    background-color: #E3F2FD;
}

.dutyTable {
    border: 1px solid #000;
    font-size: 20px;
    border-collapse: collapse;
}

th {
    background-color: #009FCC;
    padding: 10px;
    text-align:center;
    border: 1px solid #000;
    color: #fff;
}

td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}
.dutyTable tr:nth-child(even) {
    background: #FFF;
}

.dutyTable tr:nth-child(odd) {
    background: #E1F5FE;
}

/*游標所在的列會變色*/
.dutyTable tr:hover {
    background-color: #ECEFF1;    
}

.modifyDutyBlock {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: solid 1px black;
    font-size: 30px;
    color: #26C6DA;
    flex-direction: column;
    width: 600px;
    height: 400px;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    align-items: stretch;
    z-index:2;
}

.modifyDuty {
    font-size: 35px;
    color: #00ACC1;
}

.modifyDutyNameInput {
    width: 300px;
    height: 30px;
    margin-left: 10px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size:20px;
}

.chkModifyDutyBox {
    margin-left: 20px;
}

.chkModifyDuty {
    width: 20px;
    height: 20px;
    vertical-align: middle;    
}

.chkModifyDutyBlock {
    display: inline-flex;
    margin-top: 40px;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

}

.modifyDuty {
    text-align:center;
}

.modifyDutyInputBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-end;
    flex-wrap: nowrap;
    margin-left:20px;
}

.btnModifyDuty {
    width: 100px;
    height: 40px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
}

.btnModifyBlock {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.operationCol {
    width: 180px;
}




