.addProductBlock {
    width: 800px;
    text-align: left;
    font-size: 40px;
    margin-left: 10px;
    color: grey;
}

.productBlockTitle {
    font-size: 45px;
    color: #96C0CE;
}

.productPic {
    font-size: 30px;
    color: #CEAB93;
    width: 435px;
    height: 50px;
    outline: solid 1px grey;
    margin-top: 20px;
}

.productInfo {
    font-size: 30px;
    color: #CEAB93;
    width: 435px;
    height: 50px;
    outline: solid 1px grey;
    margin-left: 80px;
    margin-top: 20px;
}

.ntd {
    margin-left:10px;
}

.detailInfo {
    font-size: 30px;
    color: #CEAB93;
    width: 435px;
    height: 300px;
    outline: solid 1px grey;
    margin-top: 20px;
}

.inventoryQtn {
    font-size: 30px;
    color: #CEAB93;
    width: 435px;
    height: 50px;
    outline: solid 1px grey;
    margin-top: 20px;    
}

.addProductInputblock {
    display: flex;
    align-items: flex-end;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.detainInputblock {
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}


.productTypeMenu {
    border: solid 2px grey;
    display: inline-block;
    font-size: 30px;
    width: 445px;
    color: #CEAB93;
    padding: 10px;
    margin-top: 20px;
}

.btnAddProduct {
    margin-top: 40px;
    font-size: 40px;
    color: gray;
    width: 200px;
    height: 60px;
}

.searchProductBlock {
    width: 1000px;
    text-align: left;
    color: #466CA6;
}

.productTypeInputblock {
    display: flex;
    margin-top: 40px;
    font-size: 20px;
    align-items: center;
    justify-content: flex-start;
}

.labSearchProductType {
    margin-left: 50px;
}

.searchProductTypeMenu {
    font-size: 20px;
    color: #CEAB93;
    width: 200px;
    height: 30px;
    border: none;
    outline: solid 1px #466CA6;
    margin-left: 10px;
}

.btnSearchProduct {
    font-size: 20px;
    color: #466CA6;
    width: 80px;
    height: 30px;
    text-align: center;
    border: solid 1px #466CA6;
    margin-left: 10px;
    background-color: #E3F2FD;
}

.productTable {
    border: 1px solid #000;
    font-size: 20px;
    border-collapse: collapse;
    white-space: pre;
}

th {
    background-color: #009FCC;
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
    color: #fff;
}

.productTable td {
    border: 1px solid #000;
    padding: 5px;    
    white-space: pre-wrap;
}

.productTable tr:nth-child(even) {
    background: #FFF;
}

.productTable tr:nth-child(odd) {
    background: #E1F5FE;
}

/*游標所在的列會變色*/
.productTable tr:hover {
    background-color: #ECEFF1;
}

.modifyProductBlock {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: solid 1px black;
    font-size: 30px;
    color: #26C6DA;
    flex-direction: column;
    width: 700px;
    height: 700px;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    align-items: stretch;
    z-index: 2;
    justify-content: flex-start;
}

.modifyProduct {
    font-size: 35px;
    color: #00ACC1;
}

.modifyProductTitle {
    width: 435px;
    height: 30px;
    margin-left: 60px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.modifyUnitPrice {
    width: 435px;
    height: 30px;
    margin-left: 60px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.modifyQtn {
    width: 435px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.modifyProduct {
    text-align: center;
}

.modifyProductInputBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.modifyProductInputBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-end;
    flex-wrap: nowrap;
    margin-left: 20px;
}

.btnModifyProduct {
    width: 100px;
    height: 40px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
}

.btnModifyBlock {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.modifyProductType {
    font-size: 20px;
    color: #CEAB93;
    width: 200px;
    height: 30px;
    border: none;
    outline: solid 1px #466CA6;
}

.modifyDetailInfo {
    font-size: 30px;
    color: #CEAB93;
    width: 435px;
    height: 300px;
    border:none;
    outline: solid 1px #00BCD4;    
    margin-top: 5px;
}
