.addUserBlock {
    width: 800px;
    text-align: left;
    font-size: 40px;
    color: grey;
}

.userBlockTitle {
    font-size: 45px;
    color: #96C0CE;
}

.userInfo {
    font-size: 30px;
    color: #CEAB93;
    width: 435px;
    height: 50px;
    outline: solid 1px grey;
    margin-left: 80px;
    margin-top:20px;
}

.addUserInputblock {
    display: flex;
    align-items: flex-end;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.dutyTypeMenu {
    border: solid 2px grey;
    display: inline-block;
    font-size: 30px;
    width: 445px;
    color: #CEAB93;
    padding: 10px;
    margin-top: 20px;    
}

.btnAddUser {
    margin-top: 40px;
    font-size: 40px;
    color: gray;
    width: 200px;
    height: 60px;
}


.searchUserAccount {
    margin-left: 10px;
}
.searchUserBlock {
    width: 1000px;
    text-align: left;
    color: #466CA6;
}

.DutyTypeInputblock {
    display: flex;
    margin-top: 40px;
    font-size: 20px;
    align-items: center;
    justify-content: flex-start;
}

.labUserSearchDutyType {
    margin-left:50px;
}

.searchDutyTypeMenu {
    font-size: 20px;
    color: #CEAB93;
    width: 200px;
    height: 30px;
    border: none;
    outline: solid 1px #466CA6;
    margin-left: 10px;
}

.btnSearchUser {
    font-size: 20px;
    color: #466CA6;
    width: 80px;
    height: 30px;
    text-align: center;
    border: solid 1px #466CA6;
    margin-left: 10px;
    background-color: #E3F2FD;
}

.userTable {
    border: 1px solid #000;
    font-size: 20px;
    border-collapse: collapse;
}

th {
    background-color: #009FCC;
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
    color: #fff;
}

td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}

.userTable tr:nth-child(even) {
    background: #FFF;
}

.userTable tr:nth-child(odd) {
    background: #E1F5FE;
}

/*游標所在的列會變色*/
.userTable tr:hover {
    background-color: #ECEFF1;
}

.modifyUserBlock {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: solid 1px black;
    font-size: 30px;
    color: #26C6DA;
    flex-direction: column;
    width: 600px;
    height: 400px;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    align-items: stretch;
    z-index: 2;
    justify-content: flex-start;
}

.modifyUser {
    font-size: 35px;
    color: #00ACC1;
    text-align: center;
}

.modifyUserAccount {
    width: 400px;
    height: 30px;
    margin-left: 10px;
    border: none;
    color: #03A9F4;
    font-size: 20px;
}

.modifyNickname {
    width: 400px;
    height: 30px;
    margin-left: 10px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.modifyUserPwd {
    width: 400px;
    height: 30px;
    margin-left: 10px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.modifyUserInputBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.modifyUserInputBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-end;
    flex-wrap: nowrap;
    margin-left: 20px;
}

.btnModifyUser {
    width: 100px;
    height: 40px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
}

.btnModifyBlock {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.modifyDutyMenu {
    font-size: 20px;
    color: #CEAB93;
    width: 200px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    margin-left: 10px;
}

